/* Estilos Gerais */

body{
    font-family: 'montserrat'
}

.row {
    margin:0;
}

.container {
    padding:  70px 0;
}

p, li{
    color: #444;
    font-size: 14px;
}

/* Barra de navegação */ 

header, .navbar{ 
    background-color: #fff;
}

#nav-container {
    padding-top:0;
    padding-bottom: 0;
}

#logo {
    width: 75px;
    padding-left: 10px;
}

.navbar-brand {
    padding: 0;
    color: #050405;
}

.navbar-brand:hover{
    color: #050405
}

#navbar-link a{
    color: #050405
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}

/* Slider */

.container-fluid {
    padding: 0;
  }
  
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
  }
  
  #mainSlider .carousel-caption {
    top: 30%;
  }
  
  #mainSlider .carousel-caption h2 {
    font-size: 50px;
    margin-bottom: 30px;
  }
  
  #mainSlider .carousel-caption p {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 100px;
    color: #fff;
  }
  
  .main-btn {
    background-color: #b7babf;
    color: #FFF;
    text-transform: uppercase;
    width: 200px;
    height: 60px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 3px solid transparent;
    transition: .5s;
  }
  
  .main-btn:hover {
    text-decoration: none;
    color: #444;
    background-color: transparent;
    border-color: #b7babf;
  }
  
  .carousel-indicators .active {
    background-color: #b7babf;
  }

  .d-block w-100{
    filter: grayscale(70%)
  }

  /* Sobre a Empresa */
  
  #about-area {
    background-color: #F9F9F9;
  }
  
  .main-title {
    color: #444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;
  }
  
  .main-title::after {
    content: "";
    border-top: 2px solid #333;
    width: 15%;
    position: absolute;
    top: 60px;
    left: 42.5%;
  }
  
  .about-title {
    font-size: 24px;
    color: #444;
    font-weight: bold;
  }

  .about-title2{
    text-align: center;
    white-space: pre-wrap;
    transition-timing-function: ease;
    transition-duration: 0.6s;
    transition-delay: 0.242553s;
  }
  
  #about-list {
    list-style: none;
    padding-left: 0;
  }
  
  #about-list li {
    line-height: 30px;
  }
  
  #about-list i {
    color: #65DAF9;
    margin-right: 15px;
  }
  
  /* produtos */
  .produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #b7babf;
    font-size: 40px;
}

.produtos li:active{
    border-color: #b7babf;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

#apply-area {
  height: 500px;
}

#apply-area .container-fluid, #apply-area .row {
  height: 100%;
}

#apply-area .apply-box {
  padding: 70px 50px;
  text-align: center;
}

#company-img {
  background-image: url('./img/empresa.jpeg');
  background-size: cover;
  height: 100%;
}

#pattern-img h4, #pattern-img p {
  color: #000;
}

#pattern-img h4 {
  margin-top: 8%;
  margin-bottom: 20px;
  text-transform: uppercase;
}

#pattern-img p {
  margin-bottom: 20px;
}

#apply-btn {
  background-color: #b7babf;
  color: #b7babf;
  text-transform: uppercase;
  width: 200px;
  height: 60px;
  padding: 10px 20px;
  border-radius: 30px;
  border: 3px solid transparent;
  transition: .5s;
}

#apply-btn:hover {
  text-decoration: none;
  color: #b7babf;
  background-color: transparent;
  border-color: #b7babf;
}

/* Footer */

#contact-area {
  text-align: center;
}

.contact-box {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px solid #b7babf;
}

.contact-box i {
  color: #444;
  border: solid 1px #444;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-box p {
  font-size: 16px;
}

.contact-tile {
  font-weight: bold;
  color: #b7babf;
}

#msg-box p {
  font-size: 22px;
}

#contact-form input[type="text"], #contact-form textarea {
  margin-bottom: 15px;
  border-radius: 0;
}

#contact-form .main-btn {
  width: 120px;
  height: 50px;
}

#contact-form .main-btn:hover {
  color: #b7babf;
}

/* Copy */

#copy-area {
  background-color: #F1F1F1;
}

#copy-area .container {
  padding: 10px 0;
  text-align: center;
}

#copy-area .container p {
  margin-bottom: 0;
}

#copy-area .container a {
  font-weight: bold;
  color: #444;
}

#copy-area .container a:hover {
  text-decoration: none;
  color: #b7babf;
}
/* responsive */
@media(max-width: 768px) {
  
  /* geral */
  .container {
    padding: 20px 0;
  }
  
  /* slider */
  #mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: auto;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 28px;
  }

  #mainSlider .carousel-caption p {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .carousel-caption {
    left: 10%;
    right: 10%;
  }
  
  /* about */
  #about-area img {
    margin-top: 100px;
  }
  
  /* data */
  .circle-box div {
    padding: 0 10px;
  }

  #data-area p {
    font-size: 16px;
  }
  
  /* apply */
  #apply-area .apply-box {
    padding: 50px 25px;
  }

  /* news */
  #news-area p {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #email-input {
    width: 70%;
  }

  #call-area {
    margin-top: 30px;
  }

  #call-area .container {
    padding: 30px;
  }

  #call-area p, #call-area #call-btn {
    font-size: 16px;
  }

}


@media(max-width: 425px) {

  /* slider */
  #mainSlider {
    margin-top: 90px;
  }

  #mainSlider .carousel-caption {
    top: 5%;
  }

  #mainSlider .carousel-caption h2 {
    font-size: 18px;
    margin-bottom: 40px;
  }

  #mainSlider .carousel-caption p {
    display: none;
  }

  .carousel-caption .main-btn {
    
    font-size: 14px;
  }

  /* about */
  .main-title {
    font-size: 30px;
  }

  #about-area img {
    margin-top: 0;
    margin-bottom: 30px;
  }

  /* data */
  .circle-box {
    width: 50%;
  }

  #team-area .col-md-3 {
    width: 50%;
    margin-bottom: 30px;
  }

  /* apply */
  #apply-area {
    height: auto;
  }

  #company-img {
    display: none;
  }

  /* produtos */
  .produtos h2 {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .produtos li {
    margin: 0 1.5%;
    padding: 40px 30px;
    width: 50%;
  }

  /* contact */
  .contact-box {
    border: none;
    margin-bottom: 0;
  }

}
